* {
  @apply transition-colors duration-200
}

@import "tailwindcss";
@import "tailwindcss/preflight"
@tailwind utilities;


@theme  {
  --font-lora: var(--font-lora);
  --font-outfit: var(--font-outfit);

  --color-background: hsla(210, 17%, 98%, 1);
  --color-foreground: hsla(0, 0%, 29%, 1);

  --color-primary: hsla(28, 27%, 18%, 1);
  --color-primary-foreground: hsla( 0, 0%, 100%, 1);
  --color-primary-dark: hsla( 26, 40%, 39%, 1);

  --color-secondary: hsla(0, 0%, 100%, 1);
  --color-secondary-foreground: hsla( 28, 27%, 18%, 1);

  --color-muted: hsla(0, 0%, 96%, 1);
  --color-muted-foreground: hsla( 0, 0%, 29%, 1);

  --color-border: hsla(0, 0%, 87%, 1);
  --color-accent: hsla(26, 40%, 39%, 1);
  --color-button: hsla(26, 40%, 39%, 1);
  --color-card: hsla(0, 0%, 100%, 1);
  --color-footer: hsla(210, 17%, 98%, 1);
}


@layer base {
  [data-theme="dark"] {
    --color-background: hsla(0, 0%, 10%, 1);
    --color-foreground: hsla(0, 0%, 74%, 1);

    --color-primary: hsla(34, 61%, 88%, 1);
    --color-primary-foreground: hsla(0, 0%, 10%, 1);
    --color-primary-dark: hsla(26, 40%, 39%, 1);

    --color-secondary: hsla(0, 39%, 18%, 1);
    --color-secondary-foreground: hsla(34, 61%, 88%, 1);

    --color-muted: hsla(0, 0%, 17%, 1);
    --color-muted-foreground: hsla(0, 0%, 74%, 1);

    --color-border: hsla(0, 0%, 17%, 1);
    --color-accent: hsla(39, 100%, 94%, 1);
    --color-card: hsla(37, 16%, 13%, 1);
    --color-footer: hsla(0, 0%, 8%, 1);
  }
}
